vendor/
logs/
vscode/
.git/
.vscode/

*.log
*.ini
*.env
*.env.*

.httaccess
*/Database/sql/
*/Database/migrations/
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

.editorconfig